@model IEnumerable<vnLab.Data.Entities.SalarySheet>

@{
    ViewData["Title"] = "View all salary sheets";
    ViewData["Heading"] = "View all salary sheets";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View all salary sheets</li>
    </ol>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeSheet!.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongChinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienThuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheet.User.FullName)
                </td>
                <td>
                    @{
                        var formattedLuongChinh = string.Format("{0:N0}", item.LuongChinh);
                    }
                    @Html.DisplayFor(modelItem => formattedLuongChinh)
                </td>
                <td>
                    @{
                        var formattedPhuCap = string.Format("{0:N0}", item.PhuCap);
                    }
                    @Html.DisplayFor(modelItem => formattedPhuCap)
                </td>
                <td>
                    @{
                        var formattedTienThuong = string.Format("{0:N0}", item.TienThuong);
                    }
                    @Html.DisplayFor(modelItem => formattedTienThuong)
                </td>
                <td>
                    @{
                        var formattedNetSalary = string.Format("{0:N0}", item.NetSalary);
                    }
                    @Html.DisplayFor(modelItem => formattedNetSalary)
                </td>
                <td>
                    @{
                        var formattedDateCreated = item.DateCreated.ToString("dd/MM/yyyy");
                    }
                    @Html.DisplayFor(modelItem => formattedDateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
