@model IEnumerable<vnLab.Data.Entities.User>

@{
    ViewData["Title"] = "View all users";
    ViewData["Heading"] = "View all users";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View all users</li>
    </ol>
</nav>

<p>
    <a asp-action="Create">Create a new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDHV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @if (item.Sex.HasValue)
                    {
                        if (item.Sex.Value)
                        {
                            @Html.Raw("Nam")
                        }
                        else
                        {
                            @Html.Raw("Nữ")
                        }
                    }
                    else
                    {
                        @Html.Raw("Không xác định")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDHV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (item.Status.HasValue)
                    {
                        if (item.Status.Value)
                        {
                            <p class="text-success">
                                @Html.Raw("Đang làm việc")
                            </p>
                        }
                        else
                        {
                            <p class="text-danger">
                                @Html.Raw("Dừng làm việc")
                            </p>
                        }
                    }
                    else
                    {
                        @Html.Raw("Không xác định")
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
