@model IEnumerable<vnLab.Data.Entities.TimeSheetDetail>

@{
    ViewData["Title"] = "View all time sheet details";
    ViewData["Heading"] = "View all time sheet details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View all time sheet details</li>
    </ol>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeSheet!.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCheckOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheet!.User!.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeCheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeCheckOut)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
